<h1>AllPlayers.com Server Login</h1>
<% unless @message.nil? %>
<div><em><%= @message %></em></div>
<% end %>
<% unless @status.nil? %>
<div><%= @status %></div>
<% end %>
<% unless session[:apci_session_start].nil? %>
<div>Started <%= distance_of_time_in_words(session[:apci_session_start], Time.now).to_s %> ago</div>
<% end %>

<% if session[:apci_session].nil? -%>
  <% form_remote_tag(:update => 'doc_preview', :url => {:controller => 'apci', :action => 'login'}) do %>
    <%= label_tag(:env, "Environment:") %>
    <%= select_tag :env, options_for_select(["www.import.dev.allplayers.com", "www.allplayers.com"]), {:multiple => false} %>
    <%= label_tag(:user, "User:") %>
    <%= text_field_tag(:user) %>
    <%= label_tag(:pass, "Password:") %>
    <%= password_field_tag(:pass) %>
    <%= submit_tag 'Login' %>
  <% end %>
<% else -%>
  <% form_remote_tag(:update => 'doc_preview', :url => {:action=> 'logout', :controller => 'apci'}) do -%>
    <%= submit_tag 'Logout' %>
  <% end -%>
<% end -%>
