<table style="width:100%;" cellpadding="5" cellspacing="10">
<tr>
  <td colspan="2"><h3><%= image_tag("icon_#{@document.type}.gif") %> <%= @document.title %></h3></td>
      <span style="float:right;">
      <%= link_to_remote('Refresh',
                         :url => {:action=> 'show'},
                         :with => "'url=#{@document.links['self']}'",
                         :update => 'doc_preview',
                         :loading=> "setLoadingMsg('doc_preview', 'loading document info...')")
      %>
    </span>
</tr>
<tr>
  <td colspan="2" class="tabs">
    <ul id="navlist">
      <% @worksheets.each do |worksheet| %>
      <li<%= (@worksheet_uri == worksheet[:cells_uri]) ? ' class="active"' : '' %>>

      <% if @worksheet_uri == worksheet[:cells_uri] %>
        <% @wtitle = worksheet[:title] %>
      <% end %>
      <%= link_to_remote(worksheet[:title],
                             :url => {:action=> 'show'},
                             :with => "'url=#{@document.links['self']}&worksheet=#{worksheet[:cells_uri]}'",
                             :update => 'doc_preview',
                             :loading=> "setLoadingMsg('doc_preview', 'loading worksheet...')")
      %></li>
      <% end %>
    </ul>
  </td>
</tr>
<% @sheeturi =  @document.links['http://schemas.google.com/spreadsheets/2006#worksheetsfeed'] %>
<% unless @wtitle != 'Participant Information' %>
<tr>
  <td>
    <div>
      <%= label_tag(:run_character, "Run only:") %>
      <%= text_field_tag(:run_character) %>
      <%= label_tag(:skip_emails, "Skip E-mails:") %>
      <%= check_box_tag(:skip_emails) %>
      <%= submit_to_remote('import',
                           'Start Import',
                           :url => { :action => 'import' },
                           :disabled => session[:apci_session].nil?,
                           :with => "'url=#{@document.links['self']}&worksheet=#{@worksheet_uri}&' + Form.Element.serialize('skip_emails') + '&stitle=#{@document.title}&' + Form.Element.serialize('run_character') + '&wtitle=#{@wtitle}&sheeturi=#{@sheeturi}'",
                           :update => 'doc_preview',
                           :html => { :disabled => session[:apci_session].nil? },
                           :loading=> "setLoadingMsg('doc_preview', 'processing import...')")
      %>
    </div>
  </td>
</tr>
<% end %>
<tr>
  <td style="width:100%;vertical-align:top;">
    <table>
    <tr><td><strong>Resource id</strong>:</td><td><%= "#{@document.type}:#{@document.doc_id}"%></td></tr>
    <tr><td><strong>Author</strong>:</td><td><%= @document.author %></td></tr>
    <tr><td><strong>Last viewed </strong>:</td><td><%= @document.last_viewed.strftime('%Y-%m-%d %H:%M:%S') %></td></tr>
    <tr><td><strong>Last updated</strong>:</td><td><%= @document.last_updated.strftime('%Y-%m-%d %H:%M:%S') %></td></tr>
    <tr><td><strong>Last modified by</strong>:</td><td><%= @document.last_modified_by %></td></tr>
    <tr><td><strong>Writers can invite?</strong></td><td><%= @document.writers_can_invite %></td></tr>
    </table>

    <div style="margin-top:5px;clear:both;"><strong>Sharing permissions</strong>:</div>
    <ul id="permission_list">
      <% @document.permissions.sort.each do |role, peeps| -%>
        <li id="<%= role -%>" style="float:left;width:170px;margin-right:5px;">
          <strong><%= "#{role}s" -%></strong>
          <ul>
            <% @document.permissions[role].each do |person| -%>
              <li><%= truncate(person, :length => 25) %></li>
            <% end -%>
          </ul>
        </li>
      <% end -%>
    </ul>
    <%= image_tag('contact_icon.png') -%>
    <%= link_to_remote("Add collaborators from 'My Contacts'",
                       :url => {:controller=> 'contacts', :action=> 'my_contacts'},
                       :with => "'acl_feedlink=#{@document.links['acl_feedlink']}'",
                       :update => 'contacts',
                       :loading=> "setLoadingMsg('contacts', 'loading contacts...')")
    %> 
    <div id="contact_list">
      <div id="contacts"></div>
    </div>
  </td>
</tr>
<tr>
  <td style="vertical-align:top;">
    <div style="float:left;">
      <%= link_to('View in Google Docs',
                  @document.links['alternate'],
                  :target => '_new')
      %> &nbsp;
      <%= link_to(image_tag('popout.png', :border => 0),
                  @document.links['alternate'],
                  :target => '_new')
      %>
    </div>
    <div style="float:right;">
      <% if @document.links['export'] -%>
      <% form_tag :action => 'download' do -%>
        <%= select_export_formats(@document.type, @document.links['export']) %> <%= submit_tag 'download' %>
      <% end -%>
      <% end -%>
    </div>
  </td>
  <td align="right"> </td>
</tr>
<% @count = 0 %>
<% @logfiles = Dir.glob("import_logs/*.csv") do |logfile| -%>

<% if (!logfile.nil?) -%>
<% if logfile.include? @document.title -%>
<tr>
  <td style="vertical-align:top;">
    <% @importd = logfile %>
    <% @importd.slice!('import_logs/import_') -%>
    <% @importd.slice!(@document.title) -%>
    <% unless @count > 0 -%>
      <h3><%= @document.title %></h3>
      <% @count += 1 %>
    <% end -%>
      <div><%= @importd %></div>
    <% form_tag(:action => 'download_log', :logfile => 'import_' + @document.title + logfile) do -%>
      <%= select_export_formats(@document.type, @document.links['export']) -%><%= submit_tag 'Download Import Log' %>
    <% end -%>
  </td>
</tr>
<% end -%>
<% end -%>
<% end -%>
</table>
