<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>AllPlayers.com, Inc. Import Manager</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "window/themes/default.css" %>
  <%= stylesheet_link_tag "window/themes/alert.css" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'window' %>
  <%= javascript_include_tag 'doclist' %>
</head>
<body>

<% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
<% end -%>

<div id="container">
  <div id="header">
    <% if !session[:token].nil? -%><div class="connections">
      <div>
        <small>AllPlayers.com</small>
        <% apci_status = (session[:apci_session].nil?) ? 'Disconnected' : 'Connected' %>
        <div><%= link_to_remote(apci_status,
                                :url => {:action=> 'index', :controller => 'apci'},
                                :update => 'doc_preview',
                                :loading=> "setDocsListLoadingMsg('doc_preview', 'Checking AllPlayers.com connection...')")
      %></div><!-- session[:apci_session] -->
      <% if apci_status == 'Connected' -%>
        <div><%= link_to_remote('Logout of AllPlayers',
                                  :url => {:action=> 'logout', :controller => 'apci'},
                                  :update => 'doc_preview',
                                  :loading=> "setDocsListLoadingMsg('doc_preview', 'Logging out of AllPlayers.com ...')")
        %></div><!-- session[:apci_session] -->
      <% end -%>
      </div>
      <div>
        <small><% api_link_txt = '<span class="google"><span>G</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span></span> Docs' -%>
          <%= link_to api_link_txt, 'http://code.google.com/apis/documents/', :target => '_new' -%></small>
        <div><%= link_to('Logout', :action=> 'logout') %></div>
        </div>
      </div>
    <div><%= link_to_remote('Hudson Prod To Imports', :url => {:action=> 'hudson', :controller => 'doclist'}, :update => 'doc_preview') %>  </div>
    <% end -%>
    
		<h2>AllPlayers.com Import Manager</h2>
      
    <div id="navbar">
      <%= link_to_remote(image_tag("icon_#{ApplicationController::SPREADSHEET_DOC_TYPE}.gif") + 'Spreadsheets',
        :url => {:action=> "#{ApplicationController::SPREADSHEET_DOC_TYPE}s"},
        :update => 'documents_data',
        :loading=> "setDocsListLoadingMsg('documents_data', 'loading spreadsheets...')")
      %>
      <%= link_to_remote(image_tag("icon_#{ApplicationController::FOLDER_DOC_TYPE}.gif", :border => '0') + 'Folders',
        :url => {:action=> "#{ApplicationController::FOLDER_DOC_TYPE}s"},
        :update => 'documents_data',
        :loading=> "setDocsListLoadingMsg('documents_data', 'loading folders...')")
      %>
    </div>
	</div>

	<div id="content">
    <% if session[:token].nil? -%>
      <%= 'AuthSub session token: ' + session[:token] if session[:token] %>
      <%= link_to('Authorize this website', @authsub_link) %>
    <% else -%>
	    <%= yield -%>
	    <div id="doc_preview">Select a document to view</div>
    <% end -%>
  </div>
</div>

</body>
</html>